.background_body {
    display: flex;
    width: 1920px;
    height: 1080px;
    justify-content: center;
    align-items: flex-start;

    background-color: #F4F7FF;
}

.account_nav {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 0 0;
    align-self: stretch;
}

.nav_background {
    width: 300px;
    background-color: #FFF;

    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    border-radius: 0px 0px 20px 20px;
    background: var(--primary-white, #FFF);
    box-shadow: 0px 2px 20px 0px rgba(200, 214, 255, 0.20);
}

.nav_header {
    display: flex;
    align-items: center;

    padding: 20px 10px;
    gap: 10px;
}

.div_subtitle3 {
    padding-left: 10px;
}

.nav_padding {
    padding-bottom: 40px;
}

.any_engines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.settings_entity {
    display: flex;
    padding: 14px 24px;
    align-items: center;
    gap: 14px;
    align-self: stretch;

    border-radius: 10px;
    background: #FFF;

    color: #83868F;
    font-size: 20px;
    font-family: "Pretendard Medium", serif;
}

.settings_entity:hover {
    color: #3063F4;
    background-color: #ECF0FC;
}

.engines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.div_google {
    display: flex;
    padding: 14px 151px 18px 24px;
    align-items: center;
    align-self: stretch;

    border-radius: 10px;
    color: #83868F;
    font-size: 18px;
}

.div_google:hover {
    background-color: #ECF0FC;

    color: #3063F4;
}

.google {
    display: flex;
    align-items: center;
    gap: 14px;
}

.div_add {
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    align-self: stretch;

    border-radius: 10px;
    background: #F6F9FF;
}

.div_add:hover {
    background-color: #EDF0FB;
}

.all_engines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}

.main_style {
    display: flex;
    width: 700px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;

    border-right: 1px solid #DEE7FF;
    border-left: 1px solid #DEE7FF;
    background: #FFF;
}

.main_header {
    display: flex;
    padding: 20px 40px;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-bottom: 1px solid #DEE7FF;
}

.choose_account {
    display: flex;
    align-items: center;
    gap: 14px;
}

.main_body {
    display: flex;
    padding: 100px 30px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.body_source {
    display: flex;
    padding: 14px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.body_source:hover {
    background-color: #E9F0FD;
}

.in_body_source {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.row_in_body_source {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.text_frame {
    display: flex;
    padding: 2px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;
}

.line {
    width: 600px;
    height: 2px;

    background: #F4F5F9;
}

.in_body_another {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.in_another_content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.another_text {
    display: flex;
    padding: 2px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;
}

.aside_style {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.user_account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 10px;
    background: #FFF;
}

.account_header {
    display: flex;
    width: 350px;
    padding: 20px;
    align-items: flex-end;
    gap: 8px;
}

.account_body {
    display: flex;
    padding: 14px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.body_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.body_contents {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.account_source {
    display: flex;
    padding: 2px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;
}

.user_recode {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 10px;
    background: var(--primary-white, #FFF);
}

.recode_header {
    display: flex;
    padding: 20px;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}

.integration {
    display: flex;
    padding: 2px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 100px;
    background: #DEE7FF;
}

.integration_text {
    color: #3063F4;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.recode_source {
    display: flex;
    padding: 14px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.source_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.entity_source {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
}

.delete {
    display: flex;
    padding: 8px;
    justify-content: flex-end;
    align-items: center;

    border-radius: 100px;
    background: #FFF;
}

.delete:hover {
    background: #f5f5f5;
}

.recode_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.source_day {
    display: flex;
    padding: 0px 34px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.more {
    display: flex;
    padding: 20px;
    align-items: flex-end;
    gap: 10px;
    align-self: stretch;
}

.bookmark {
    width: 24px;
    height: 24px;
}

.three_dots {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #FFF;
}

.three_dots:hover {
    background-color: #F5F5F5;
}

.main_image {
    width: 48px;
    height: 48px;
    border-radius: 70%;
    overflow: hidden;
}

.main_image_style {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recode_image{
    width: 24px;
    height: 24px;
    border-radius: 70%;
    overflow: hidden;
}