body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #F4F7FF;
}
#leftElements {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 0 0;
  align-self: stretch;
}
#engines {
  display: flex;
  width: 300px;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  border-radius: 0 0 20px 20px;
  background: #FFF;
  box-shadow: 0 2px 20px 0 rgba(200, 214, 255, 0.20);
}
#nav_logo_container {
  display: flex;
  padding: 20px 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
#nav_logo {
  width: 64px;
  height: 35px;
}
#nav_engine_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
}
#search_engines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
#search_engines_title {
  display: flex;
  padding: 0 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
#search_engines_title_text {
  color: #83868F;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#search_engines_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
#google_btn {
  display: flex;
  padding: 14px 151px 18px 24px;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
}
#frame33 {
  display: flex;
  align-items: center;
  gap: 14px;
}
#google_icon {
  width: 28px;
  height: 28px;
}
#google_text {
  color: #83868F;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#frame26 {
  display: flex;
  padding: 14px 24px;
  align-items: center;
  gap: 14px;
  align-self: stretch;
  border-radius: 10px;
}
#frame29 {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 3.5px;
  justify-content: center;
  align-items: center;
}
#naver_icon {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
}
#naver_text {
  color: #83868F;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#frame29_1 {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  align-self: stretch;
  border-radius: 10px;
  background: #F6F9FF;
}
#frame28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
#frame32 {
  display: flex;
  padding: 0px 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
#other_text {
  color: #83868F;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#frame26_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
#frame25 {
  display: flex;
  padding: 14px 24px;
  align-items: center;
  gap: 14px;
  align-self: stretch;
  border-radius: 10px;
}
#pinImg {
  width: 28px;
  height: 28px;
}
#pinText {
  color: #83868F;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#frame31 {
  display: flex;
  padding: 14px 24px;
  align-items: center;
  gap: 14px;
  align-self: stretch;
  border-radius: 10px;
}
#teImg {
  width: 28px;
  height: 28px;
}
#teText {
  color: #83868F;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#frame29_2 {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  align-self: stretch;
  border-radius: 10px;
  background: #F6F9FF;
}
#frame26_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
#frame25_1 {
  display: flex;
  padding: 14px 24px;
  align-items: center;
  gap: 14px;
  align-self: stretch;
  border-radius: 10px;
  background: #ECF0FC;
}
#settingText {
  color: #3063F4;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#centerElements {
  display: flex;
  width: 700px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-right: 1px solid #DEE7FF;display: flex;
  width: 1920px;
  height: 1080px;
  justify-content: center;
  align-items: flex-start;
  background: #F4F7FF;
  border-left: 1px solid #DEE7FF;
  background: #FFF;
}